@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logged-out {
    background: url('images/bg-login-2.jpg') no-repeat fixed center;
    background-size: cover;
}

a.remove-link {
    text-decoration: none;
    color: inherit;
}

.logged-in {
    background: white;
}

a.mango {
    /*F7BF8E*/
    color: #000000;
}

a.fnt-nav {
    font-size: 40px;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
}

a.fnt {
    font-size: 40px;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/* [FORM] */
#data-entry,
#profile-form {
    display: none;
    font-family: 'Roboto Serif', sans-serif;
    border: 3px #f1f1f1 solid;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
