{# Adapted from CS50x Finance: https://cs50.harvard.edu/x/2024/psets/9/finance #}

{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
   {# <img alt="{{ top }}" class="border img-fluid" src="{{ url_for('static', filename='images/apology.jpg')}}" title="{{ top }}"> #} 
    <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/obHoTyn.jpg" title="{{ top }}">
{% endblock %}