{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <!-- [Finance] CARDS -->
    <div>
        <p class="h2 fw-bold">Savings: </p>
        <div id="save" class="h2 fw-bold">{{ userSavings | php }}</div>
        <a id="1" onclick="opnDashboardForm(event)" class="fa-solid fa-plus remove-link"></a>
    </div>
    <div>
        <p class="h2 fw-bold">Spendings: </p>
        <div id="spend" class="h2 fw-bold">{{ userSpendings | php }}</div>
        <a id="2" onclick="opnDashboardForm(event)" class="fa-solid fa-plus remove-link"></a>
    </div>
    <div>
        <p class="h2 fw-bold">Allowance: </p>
        <div id="allow" class="h2 fw-bold">{{ userAllowance | php }}</div>
        <a id="3" onclick="opnDashboardForm(event)" class="fa-solid fa-plus remove-link"></a>
    </div>
    <!-- [Transaction] TABLE -->
    <table id="transactions-data" class="table table-striped">
        <thead>
            <th class="text-start">Transaction ID</th>
            <th class="text-end">Date</th>
            <th class="text-end">Transaction Type</th>
            <th class="text-end">Amount</th>
        </thead>
        <tbody>
            {% for transactions in userTransactions %}
            <tr>
                <td class="text-start">{{ transactions['id'] }}</td>
                <td class="text-end">{{ transactions['transaction_date'] }}</td>
                <td class="text-end">{{ transactions['category'] }}</td>
                <td class="text-end">{{ transactions['amt'] | php }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--[Input] FORM-->
    <form id="data-entry" action="{{ url_for('getFormInput') }}" method="post">
        <div class="form-group">
            <label class="h3 fw-s"for="amtField">Amount</label>
            <input autocomplete="off" type="number" name="amount" class="form-control" id="amtField" placeholder="Enter Amount" aria-describedby="inputNotif" required>
            <small id="inputNotif" class="form-text text-muted">
                Please ensure that the input is valid. No need to include commas and/or currency sign/s.
            </small>
        </div>
        <button type="submit" id="sub-btn" class="btn btn-primary">Submit</button>
        <button onclick="clsDashboardForm(event)" class="btn btn-danger">Cancel</button>
    </form>
{% endblock %}