{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div>
        <h2>Savings:</h2>
    </div>
    <div>
        <h2>Spendings:</h2>
    </div>
    <div>
        <h2>Allowance:</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <th class="text-start">Desc</th>
            <th class="text-end">Desc</th>
            <th class="text-end">Desc</th>
            <th class="text-end">Desc</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}