{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('login') }}" method="post" class="card-login forms-login">
        <h1 class="fnt mango header">LOG IN</h1>
        <div class="form-group center">    
            <input class="form-control clean" autocomplete="off" autofocus name="username" placeholder="Username"> 
            <input id="pass" class="form-control clean" autocomplete="off" autofocus name="password" placeholder="Password" type="password">
            <input type="checkbox" onclick="changeVisibility(this)">
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
{% endblock %}