{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div id="acc-info">
        <p class="h2 fw-bold">Account Information</p>
        <p id="username" class="h2 fw-bold">{{ userName }}</p>
        <button onclick="createPasswordForm(event)" class="btn btn-primary">Change Password</button>
        <button onclick="showDeleteForm(event)" class="btn btn-danger">Delete Account</button>
    </div>
    <div id="goal-count">
        <p class="h2 fw-bold">Total Goals</p>
        <div class="h2 fw-bold">{{ goalCounts }}</div>
    </div>
    <!-- Dynamic Form -->
    <form id="profile-form"></form>
    <!-- [GOALS] Table-->
    <div id="goal-settings">
        <a id="new-goal" onclick="createNewGoal(event)">New</a>
        <a id="edit-goal" onclick="editGoal(event)">Edit</a>
        <a id="remove-goal" onclick="removeGoal(event)">Remove</a>
        <a id="update-goal" onclick="updateGoalProgress(event)">Update</a>
    </div>
    <div>
        <table id="goals-table" class="table table-striped">
            <thead>
                <th class="text-start">Name</th>
                <th class="text-end">Description</th>
                <th class="text-end">Total</th>
                <th class="text-end">Current</th>
                <th class="text-end">Progress</th>
            </thead>
            <tbody>
                {% for goal in goals %}
                <tr>
                    <td class="text-start">{{ goal['name'] }}</td>
                    <td class="text-end">{{ goal['desc'] }}</td>
                    <td class="text-end">{{ goal['total_amt']  | php }}</td>
                    <td class="text-end">{{ goal['curr_dep'] | php }}</td>
                    <td class="text-end">{{ goal['progress'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}