{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %} 

{% block main %}
    <form class="card-glass" action="{{ url_for('register') }}" method="post">
        <div class="mb-3 d-flex flex-column text-center align-items-center justify-content-center">
            <h1 class="mango header">Register</h1>
            <p class="mango">Please fill in the important fields below.</p>
        </div>
        <div class="mb-3 form-group d-flex flex-column align-items-center justify-content-center">
            <input class="form-control clean" autocomplete="off" autofocus name="username" placeholder="Username">
            <input class="form-control clean" autocomplete="off" autofocus name="password" placeholder="Password" type="password">  
            <input class="form-control clean" autocomplete="off" autofocus name="confirm" placeholder="Confirm Password" type="password"> 
        </div>
        <button type="submit" class="button text-center align-items-center justify-content-center mt-3">Register</button>
    </form>
{% endblock %}